.texto_azul_institucional {
    color: #073a86;
}

.fondo_azul_institucional {
    background-color: #073a86;
    color:white;
}

.texto_rojo_institucional {
    color: #c00505;

}

.fondo_rojo_institucional {
    background-color: #c00505;
    color:white;
}


body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    color: #073a86 !important;
}

#calendar {
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.table-wrapper {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}